PORT=8000
UVICORN_RELOAD=false
APP_ENV=development
PUBLIC_BASE_URL=http://127.0.0.1:8000
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=modiva
CORS_ALLOW_ORIGINS=*
HONO_PORT=8787
FASTAPI_BASE_URL=http://127.0.0.1:8000
